$width: 250px;
$lagoon-blue: #62fdca;
$color: red+blue;

.math {
    height: $width/6;
    line-height: $width/6;
    width: $width;
    text-align: center;
    background-color: $lagoon-blue;
    color:$color;
    border-radius: $width/30;
    font-size: $width/6/2;
}
// For Loops ///////////////////
$list: (orange, purple, teal);
@each $item in $list {
    .#{$item} {
    background: $item;
    }
    }
$total: 10; //Number of .ray divs in our html
$step: 360deg / $total; //Used to compute the hue based on color-wheel
.ray {
 height: 30px;
}
@for $i from 1 through $total {
    .ray:nth-child(#{$i}) {
        background: adjust-hue(blue, $i * $step);
        width: if($i % 2 == 0, 300px, 350px);
        margin-left: if($i % 2 == 0, 0px, 50px);
    }
    }

@for $a from 0 to 11{
    .margen-#{ancho#{$a}}{
        margin-top:$a#{px};
    }
}