$width: 250px;
$lagoon-blue: #62fdca;
$color: red+blue;
.math {
    height: $width/6;
    line-height: $width/6;
    width: $width;
    text-align: center;
    background-color: $lagoon-blue;
    color:$color;
    border-radius: $width/30;
}
// For Loops ///////////////////
$list: (orange, purple, teal);
$total: 10; //Number of .ray divs in our html
$step: 360deg / $total; //Used to compute the hue based on color-wheel
.ray {
 height: 30px;
}