*{
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
hr{
    color: orange;
}
.form-container{
    width: 80%;
    max-width: 500px;
    border: 1px solid rgba(189, 186, 186, 0.973);
    margin: auto;
    background: rgb(0, 143, 148);
}
form{
 text-align: center;
 color: #ffffff;
 font-size: 1.5em;
 padding: 10px;   
 width: 90%;
 height: 100%;
 margin: auto;

}

form input{
    width: 100%;
    height: 40px;
}
input[name=dni]{
    width: 80%;
}
input[name=letra]{
    width: 20%;
}
select{
    width: 100%; 
    height: 40px;
}


input[type=submit],input[type=reset]{
    border:5px solid rgb(0, 143, 148);
    width: 50%;
    height: 50px;
    background: rgb(255, 136, 0);
}