*{
    box-sizing: border-box;
}
h4{
    margin: 0px;
    text-align: left;
}

body{
    max-width: 1200px;
    font-family: helvetica;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    background: #b8b8b8;
}
header{
    position: relative;
    width: 100%;
    line-height: 100px;
    background-color: #2196f3;
    top: 0px;
    height: 100px;
}
.ico{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
}
header h1{
    margin: 0px;
    color: white;
    text-align: center;
}
nav{
    display: flex;
    color: rgb(255, 255, 255);
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);

}
nav a:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.623);

}
nav ul{
    font-size: 2rem;
    margin: 0;
    padding: 0;
}
nav li{
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;

}
/*nav .princi li:hover ul{
    display: block;
    position: absolute;
}*/
nav .princi{
    flex: 1;
    position: relative;
    background-color: rgba(0, 0, 0, 0.623);
    text-align: center;
    display: inline-block;

   
}
nav .secun{
    display: none;
}
.secun li{
    border-bottom: rgba(0, 0, 0, 0.719) solid 1px;
}
nav .secun{
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.623);
    position: absolute;
}

nav .terc{
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.589);
    position: absolute;
    left: 100%;
    margin-top: -37px;
}


 li:hover{
    background-color: rgba(58, 57, 57, 0.815);
}

main{
    color: #040111;
    background: #b8b8b8;
    display: flex;
    min-height: 1000px;
    
}

#img-portada{
    margin-bottom: -7px;
    width: 100%;
}

section{
    padding: 20px;
    background-color: #ffffff;
    flex: 80%;
    transition: 600ms;
    height: 5000px;
}
article{
    display: flex;
    border: 1px rgb(236, 236, 241) solid;
    transition: all 300ms;
    border-radius: 1px 10px 1px 1px;
}
article:hover{
    box-shadow: 5px 5px 10px 0px #555252;
}

article p a{
    background: #2196f3;
    text-decoration: none;
    padding: 10px;
    color: white;
    border-radius: 3px;
    

}

article img{
    max-width: 100px;
    max-height:100px;
}
.img-article{
    flex: 10%;
}
.texto-article{
    background:#f6be4f38;
    padding-left: 10px;
    flex: 90%;
    border-radius: 1px 10px 1px 1px;
}




.hidden {
    opacity: 0;
}

#efecto{
    background: url('img/landscape.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    border: 1px solid #000;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    height: 200px;
    width: 0px;
    background-color: grey;
    text-align: center;
    color: black;
}





aside{
    padding: 10px;
    background-color: #14568b;
    color: white;
    flex:20%;
    text-align: center;
}
.img-aside{
    margin-top: 0px;
    width: 90%;
    text-align: center;
    border-radius: 2px;

}
aside ul{
    text-align: left;
    margin-left: 0px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(51, 51, 51);
    margin: 0px;
    width: 100%;
}
