table{
    display: flex;
    justify-content: center;
    align-items: center;
}
table td{
   vertical-align: middle;
}
.container{
    display: flex;
}
#puzzle{
    height: 500px;
    border: 1px solid black;
    flex: 1;
}
#buttons{
    border: 1px solid black;
    flex: 1;
    padding: 10px;
}

#aleatorio{
    padding: 10px;
    width: 100%;
}

