*{
    box-sizing: border-box;
}
table{
  border-collapse: collapse;
  margin: auto;
}

.container{
    display: flex;
    flex-wrap: wrap;
}
#puzzle{
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    flex: 9;
}
#buttons{
    border: 1px solid black;
    flex: 2;
    padding: 30px;
}


#aleatorio,#ayuda{
    padding: 10px;
    width: 100%;
}

.elije{
    border: 2px solid white;
    width: 50%;
    cursor: pointer;
}
@media screen and (max-width:768px){
    #puzzle,#buttons{
        width: 100%;
    }

}
