$list:(red,yellow,purple);

@mixin flag($color){
    background-color: $color;
    height: 200px;
}

@each $item in $list{
    .#{$item} {
        background: $item;
        }
}
%transition{
    transition: 1s;
}

.cont{
    display: flex;
    flex-wrap: wrap;
    width: 97%;
    margin: 57px auto 10px auto;
    @media all and(max-width:576px){
        width: 100%;
    }
}

nav{
    @extend %transition;
}

li a{
    text-align:center;
}

.cont div{
    flex: 1;
    min-width: 100%;
    @extend %transition;
}
.uno{
    @include flag(red);
}

.dos{
    @include flag(yellow);
}
.tres{
    @include flag(purple);
}